body{
  background:silver;
}

#digitalclock{
  font-family:fantasy;
  color:white;
  text-shadow: 0 0 20px ,0 0 20px;
  text-align: center;
  font-size:500%;
}

#digitalclock2{
  font-family:fantasy;
  color:lavender;
  text-shadow: 0 0 20px ,0 0 20px;
  text-align: center;
  font-size:400%;
}
