div.container {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  text-align: center;
}

/* 時計の共通スタイル */
div.clock {
  font-family: fantasy;
  color: white;
  text-shadow: 0 0 30px white;
  line-height: 1.2;
  text-align: center;
}

div.date {
  font-size: 25px;
}

div.time {
  font-size: 100px;
}

div.date {
    font-size: 5vw;
  }
div.time {
    font-size: 20vw;
  }

